body {
    background-image: linear-gradient(to right top, #212f45, #1b3a50, #104458, #054f5e, #065a60);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #212f45;
}