{% load static %}
<nav class="bg-gray-800 bg-black">
    <div class="w-full flex items-center justify-between mx-auto p-4">
        <!-- Left Section (Logo) -->
        <a href="{% url 'index' %}" class="flex items-center">
            <img class="w-10 h-10 mr-2" src="{% static 'images/money-with-wings.svg' %}" alt="Logo" />
            <span class="self-center text-2xl font-semibold text-white whitespace-nowrap">Finance Tracker</span>
        </a>

        <!-- Right Section (Links) -->
        <div class="hidden md:flex items-center space-x-4">
            <ul class="font-medium flex items-center space-x-6">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'transactions-list' %}" class="text-white hover:underline">
                            My Transactions
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'transactions-charts' %}" class="text-white hover:underline">
                            My Charts
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}" class="text-white hover:underline">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'account_login' %}" class="text-white hover:underline">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}" class="text-white hover:underline">
                            Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Mobile Menu Button -->
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</nav>

  